/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 
 */
.now-playing {
  background-color: #000;
  color: #FFF;
  height: 1080px;
  width: 1920px;
  left: 200px;
  &__cover,
  
 
  &__cover {
    
   
  }

  &__image {
    width: 1080px;
    height: 1080px;
    top: 0px;
    left: 420px;
    position: relative;
    
    filter: sepia(7%) contrast(100%);
 
  
  }
 
  

  

 

  

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (width:1920px) {
    
    padding: 0%;

    &__cover,
     {
      width: 100%;
    }

    
  }
}
