/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  background: "now-playing__image";
  height: 100%;
  width: 100%;
  
  &__cover,
  &__details {
   
    text-align: center;
    width: 100%;
  }

  &__cover {
    width: 100px;
    top: 285px;
  }

  &__image {
    width: 925px;
    height: 914px;
    padding-top: 0px;
    padding-right: 0px;
    filter: sepia(7%) contrast(100%);
    //border: 5px solid #000;
    position: relative;
    right: 20px;
  }

  &__details {
    text-align: center;
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.8;
    
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (width:1080px) {
    
    padding: 0%;

    &__cover,
     {
      width: 100%;
    }

    &__details {
      text-align: center;
      padding-top: 460px;
      padding-left: 0px;
      padding-right: 90px;
      padding-bottom: 160px;
    }
  }
}
